<!DOCTYPE html>
<html lang="fr" data-bs-theme="auto">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Reservation | SecurVR</title>
        <meta name="description" content="Entreposage hivernal de roulottes et de machineries agricole à St-Jean-Port-Joli près dans Chaudière-Appalaches et près du Bas-St-Laurent">
        <link rel="stylesheet" href="/bootstrap-offline/css/bootstrap.css">
        <!--
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
        -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <!--
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet"> 
        -->
        <script src="https://js.stripe.com/v3/"></script>
        <script src="{{ url_for('static', filename='main.js') }}"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
        <!--
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
        -->
        <script src="/bootstrap-offline/js/jquery-3.7.1.js"></script>
        <script src="/bootstrap-offline/js/bootstrap.js"></script>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-L8NMJDLG9Y"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-JF47SE6PCE');
        //G-L8NMJDLG9Y
        </script>

            <!-- Favicons -->
        <link rel="apple-touch-icon" href="{{ url_for('static', filename='img/logo.ico') }}" sizes="180x180">
        <link rel="icon" href="{{ url_for('static', filename='img/logo.ico') }}" sizes="32x32" type="image/webp">
        <link rel="icon" href="{{ url_for('static', filename='img/logo.ico') }}" sizes="16x16" type="image/webp">
        <link rel="mask-icon" href="/docs/5.3/assets/img/favicons/safari-pinned-tab.svg" color="#F8CA00">
        <link rel="icon" href="{{ url_for('static', filename='img/logo.ico') }}">
        <meta name="theme-color" content="#F8CA00"> 
    </head>
    <body>
        
        <div class="container py-3 header">
            <header>
                <div class="header-width d-flex flex-column flex-md-row align-items-center pb-0 mb-0 border-bottom">
                    <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
                        <span class="fs-2 header_logo_1">Secur</span>
                        <img id='nav-logo'src="{{ url_for('static', filename='img/logo-yellow-long.webp') }}" alt="securvr logo qui est une design d'une roulotte">
                        <span class="fs-2 header_logo_2">VR</span>
                    </a>
        
                    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
                        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="https://securvr.ca#Services">Services</a>
                        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="https://securvr.ca#FAQ">FAQ</a>
                        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="https://securvr.ca#Directions">Directions</a>
                        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="mailto:fermetroissaumons@gmail.com">Contact</a>
                    </nav>
                </div>

            </header>
        </div>
        <main>
            {% block content %}{% endblock %}
        </main>


        <footer class="pt-4 my-md-5 pt-md-5 border-top">
            <div class="row">
            <div class="col-12 col-md">
            
                <small class="d-block mb-3 text-body-secondary">&copy; 2024</small>
            </div>
            <div class="col-6 col-md">
                
                <ul class="list-unstyled text-small">
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="https://securvr.ca">SecurVR.ca</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="mailto:fermetroissaumons@gmail.com">Reserver pour de l'équipements agricoles</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                
                <ul class="list-unstyled text-small">
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="https://securvr.ca#FAQ">Foire aux Questions / FAQ</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="https://securvr.ca#directions">Directions</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                
                <ul class="list-unstyled text-small">
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="mailto:fermetroissaumons@gmail.com">Contactez-vous</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="https://securvr.ca/termes">Termes et conditions</a></li>
                </ul>
            </div>
            </div>
        </footer>
        </div>

    </body>

</html>