{% extends "base.html" %}

{% block content %}
  <section class="section main-reserve">
    <h1 class="my-2"><strong>Paiement</strong></h1>
    <h3 class="my-2"><strong>Sélectionner la dimension de votre roulotte</strong></h3>
    <div class="container">
    {% for product in products %}
      <!--id="submitBtn+{{product.id}}">--> 
      <button class="button action-btn submitBtn" price_ID={{product.price_id}} product_ID={{product.id}} id="submitBtn" data-quantity="{{product.stock_quantity}}" style="background-color: f5f242; ">{{ product.product_name}}</button>   
    {% endfor %}
    </div>
    <div class="container mt-5">
      <a href="https://securvr.ca" class="button action-btn mt-5">Retourné à SecurVR.ca</a>
    </div>
  </section>
{% endblock %}