{% extends "base.html" %}

{% block content %}
  <section class="section">
    {% for product in products %}
    <div class="container">
      <!--id="submitBtn+{{product.id}}">-->
      <button class="button is-primary submitBtn" price_ID={{product.price_id}} id="submitBtn">{{ product.product_name}}</button>
      <!--<button class="button is-primary submitBtn-installment" price_ID={{product.price_id}} id="submitBtn-installment">{{ product.product_name}} en 6 paiements</button>-->
    </div>
    {% endfor %}
  </section>
{% endblock %}