{% extends "base.html" %}

{% block content %}

<section class="section">
        <div class="container">
            <h1>Termes et Conditions</h1>
                <p>Les termes et conditions de SecurVR.ca sont les suivants:</p>
                <ul>
                        <li>Les paiements sont non-remboursables.</li>
                        <li>Les paiements sont non-transférables.</li>
                        <li>Les paiements sont non-échangeables.</li>
                        <li>Les paiements sont non-modifiables.</li>
                        <li>Les paiements sont non-annul</li>
                </ul>
                <button id="accept-btn" class="button action-btn">Accepter les termes</button>
                <a href="/checkout" class="button action-btn">Aller à la page de paiement</a>
            <a href="/" class="button action-btn">Retourné à la page d'accueil</a>
            <a href="https://securvr.ca" class="button action-btn">Retourné à SecurVR.ca</a>
        </div>
    </section>

{% endblock %}

        

      <a href="/" class="button action-btn">Retourné à la page d'accueil</a>
      <a href="https://securvr.ca" class="button action-btn">Retourné à SecurVR.ca</a>
    </div>
  </section>

{% endblock %}
